.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: calc(var(--size-title) / 5.5);
  padding-bottom: calc(var(--size-title) / 2.5);
  padding-inline: var(--size-title);
  background-color: var(--color-white);

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.title {
  margin: 0;
  text-align: center;
  font-size: var(--size-title);
  color: var(--color-blue);
}
