.header {
  margin-inline: -20px;
  padding-block: max(4vw, 0.4rem);
  background-color: var(--color-white);
}

.title {
  margin: 0;
  font-size: max(10vw, 2rem);
  text-align: center;
  color: var(--color-blue);
}
